
.has-link{
  color:  #d1913c;
}

.modal-register{
  width: 500px;
}



.title.is-5{
  color: #d1913c !important; 
}


.styled-background{

  background-color:  #200122 ; 
}


@media (max-width: 425px){
  .modal-register{
    width: 100%;
  }
}